body{
	background:  linear-gradient(to bottom, #ffccff 0%, #ffffcc 100% );
	color: #339933;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img{
	border: 5px solid #336600;
}
table{
	border: 1px solid pink;
	border-spacing: 0px;
	border-collapse: separate;
	padding: 10px;
}
table, td{
	border: solid 1pt pink;
}
thead{
	font-weight: bolder;
	background-color: lightgrey;
	text-align: center;
}